circle {
  fill: #f1f2f3;
  /* stroke: #aaa; */
  /* stroke-width: 2; */
}

path {
  fill: #f1f2f3;
}

.pie {
  width: 400px;
  height: 400px;
  border: 1px solid red;
}

.pie text {
  font-size: 12px;
  opacity: 0;
}

.pie polyline {
  opacity: 0;
}

.pie:hover text,
.pie:hover polyline {
  opacity: 1;
}

.form_link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
}
